<!DOCTYPE html>

<html class="no-js" lang="en">

<head>

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>People @ASSIST</title>

  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{root}}assets/css/app.css">

</head>

<body>
  <head>
    <nav class="navbar">
      <div class="navbar__item navbar__item--left">
        <img class="logo" src="assets/img/logo.png"/>
        <a href="#">Menus</a>
      </div>

      <div class="navbar__item navbar__item--right">
        <a href="#">Hello, Alexanadra </a>
        <img class="avatar" src="assets/img/face.jpg"/>
      </div>
    </nav>



  </head>
  <main class="page-content">
    {{> body}}
  </main><!-- /page content -->
  <footer></footer>

  <script src="{{root}}assets/js/app.js"></script>

</body>

</html>
